{% extends "anime_recommend/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid col-sm-offset-1"></div>
    <div class="col-sm-2 col-md-2">
            <a href="{% url 'index' %}">
                <img src="{{ anime.picture.url}}" class="img-responsive"
                    style="border-radius: 22px 22px 22px 22px;">
            </a>
            <!-- <h5>{{movie.genre}}</h5> -->
            <form class="form-horizontal" role="search" method="post" action="{% url 'detail' anime.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="row">
                            <div class="col-lg-14">
                                <div class="star-rating">
                                    <strong><span> Add to my list </span></strong>
            
                                    {% if watch %}
                                    <input type="checkbox" name="watch" checked>
                                    <input type="submit" class="button" value="Remove" name="watch">
            
                                    {% else %}
                                    <input type="checkbox" name="watch">
                                    <input type="submit" class="button" value="Add">
            
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>

        <h1><center>{{anime.Name}}</center></h1>

        <h4><small>Alternative Name:</small></h4>
        <h6>
            <p><i>{{anime.Alternative_Name}}</i></p>
        </h6>

        <h4><small>Type:</small></h4>
        <h6>
            <p><i>{{anime.Type}}</i></p>
        </h6>

        <h4><small>Tags:</small></h4>
        <h6>
            <p><i>{{anime.Tags}}</i></p>
        </h6>

        <h4><small>Episodes:</small></h4>
        <h6>
            <p><i>{{anime.Episodes}}</i></p>
        </h6>

        <h4><small>Finished:</small></h4>
        <h6>
            <p><i>{{anime.Finished}}</i></p>
        </h6>

        <h4><small>StartYear:</small></h4>
        <h6>
            <p><i>{{anime.StartYear}}</i></p>
        </h6>

        <h4><small>EndYear:</small></h4>
        <h6>
            <p><i>{{anime.EndYear}}</i></p>
        </h6>

        <h4><small>Duration:</small></h4>
        <h6>
            <p><i>{{anime.Duration}}</i></p>
        </h6>

        <h4><small>Season:</small></h4>
        <h6>
            <p><i>{{anime.Season}}</i></p>
        </h6>

        <h4><small>Synopsis:</small></h4>
        <h6>
            <p><i>{{anime.Synopsis}}</i></p>
        </h6>
</div>
{% endblock content %}