{% extends "anime_recommend/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h2><a class="article-title" href="#">Chen Jingyu</a></h2>
              <p class="article-content">A0236045L</p>
              <h2><a class="article-title" href="#">Huang Youqin</a></h2>
              <p class="article-content">A0236138E</p>
              <h2><a class="article-title" href="#">Wang Zhenhao</a></h2>
              <p class="article-content">A0236054L</p>
                <h2><a class="article-title" href="#">Yang Changyong</a></h2>
              <p class="article-content">A0236000A</p>
            </div>
          </div>
        </article>
{% endblock content %}