{% extends "anime_recommend/base.html" %}

{% block content %}
    {% if not request.user.is_authenticated %}
    <br>
    {% else %}
    <center>
        <h2>Welcome {{user.username}}!!</h2>
    </center>
    {% endif %}

    <form action="." method="POST">
        {% csrf_token%}
        <!-- <label for="Finished">Finished</label> -->
        <label for="Finished">Finished</label>
        <select name="Finished" id="Finished">
            <option value="" {% if myrequest.Finished == "" %} selected {%endif%}>All</option>
            <option value="True" {% if myrequest.Finished == "True" %} selected {%endif%} >True</option>
            <option value="False"{% if myrequest.Finished == "False" %} selected {%endif%}>False</option>
        </select>

        <br>
        <label for="StartYear">StartYear</label>
            <select name="StartYear" id="StartYear">
                <option value="" {% if myrequest.StartYear == "" %} selected {%endif%}>All</option>
                <option value="before2015" {% if myrequest.StartYear == "before2015" %} selected {%endif%}>Before 2015</option>
                <option value="2016" {% if myrequest.StartYear == "2016" %} selected {%endif%}>2016</option>
                <option value="2017" {% if myrequest.StartYear == "2017" %} selected {%endif%}>2017</option>
                <option value="2018" {% if myrequest.StartYear == "2018" %} selected {%endif%}>2018</option>
                <option value="2019" {% if myrequest.StartYear == "2019" %} selected {%endif%}>2019</option>
                <option value="2020" {% if myrequest.StartYear == "2020" %} selected {%endif%}>2020</option>
                <option value="2021" {% if myrequest.StartYear == "2021" %} selected {%endif%}>2021</option>
                <option value="2022" {% if myrequest.StartYear == "2022" %} selected {%endif%}>2022</option>
        </select>

        <br>
        <label for="Episodes">Episodes</label>
        <select name="Episodes" id="Episodes">
            <option value="" {% if myrequest.Episodes == "" %} selected {%endif%}>All</option>
            <option value="Less than 100" {% if myrequest.Episodes == "Less than 100" %} selected {%endif%}>Less than 100</option>
            <option value="101-1000" {% if myrequest.Episodes == "101-1000" %} selected {%endif%}>101-1000</option>
        </select>

        <br>
        <label for="Tags">Tags</label>
        <div> <input name="Tags" , placeholder="Tags" /></div>

        <label for="Content_Warning">Content Warning</label>
        <div> <input name="Content_Warning" , placeholder="Content Warning" /></div>

        <input type="submit" value="Filter" />
    </form>

    <div class="row">
        {% if animes %}
            {% for anime in animes %}
            <div class="col-sm-2 col-md-2">
                <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                    <center>
                        <h6>{{anime.Name}}</h6>
                    </center>
                    <a href="{% url 'detail' anime.id %}">
                        <img src="{{ anime.picture.url}}" width="200" height="200" class="img-responsive" style="border-radius: 22px 22px 22px 22px;">
                    </a>
                    <!-- <h5>{{movie.genre}}</h5> -->
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if animes.has_other_pages %}
    <ul class="pagination">
        {% if animes.has_previous %}
        <li class="page-item">
            <a class="page-link" aria-label="Previous" href="?page={{ animes.previous_page_number }}">
                &laquo;
            </a>
        </li>
        
        {% else %}
        <li class="page-item">
            <a class="page-link" aria-label="Previous" href="#">
                &laquo;
            </a>
        </li>
        {% endif %}
        
        {% for i in animes.paginator.page_range %}
            {% if animes.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if animes.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ animes.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock content %}